* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
.main {
  background-color: #1f2937;
  min-height: 100%;
  width: 100%;
  padding: 24px 34.5px;
}
.nav {
  background-color: #111827;
  border-radius: 40px;
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
  
}
.btn1{
  font-size: 14px;
  color: #ffffff;
  background-color: #DB2777;
  padding: 0.5rem;
  width: 50%;
  border-radius: 35px;
  border: 0px;
  margin-left: 570%;
  align-self: center;
}
.content {
  background-color: #111827;
  border-radius: 20px;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 24px;
  margin-left: 15px;
}
.container {
  height: 450px;
  width: 50%;
  padding: 32px;
}
.style5 {
  font-size: xx-large;
  margin-left: 15px;
  margin-top: 60px;
}
.btn2{
  font-size: 14px;
  color: #ffffff;
  background-color: #DB2777;
  padding: 0.8rem;
  width: 30%;
  border-radius: 35px;
  border: 0px;
  margin-left: 5px;
  margin-top: 20px;
}
.img {
  border-radius: 20px;
  padding: 32px;
}
.img img {
  height: 380px;
  width: 560px;
  border-radius: 20px;
}
.info {
  background-color: #111827;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 24px 0px;
  height: auto;
  padding: 32px;

  margin: auto;
}
.left {
  display: flex;
  flex-direction: column;
  margin: 150px 52px;
  padding: 128px 0px;
  justify-content: center;
  align-items: center;
}
.join h3 {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}
.join p {
  color: #6b7280;
  font-family: system-ui, sans-serif;
  line-height: 22.4px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(107, 114, 128);
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 32px;
}
.element {
  padding: 0.75rem 1.5rem;
  width: 100%;
}
.element input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  background-color: #1f2937;
  padding: 1.5rem;
  border: 1px solid #6b7280;
  border-radius: 35px;
}
.element label {
  color: #6b7280;
}
.btn3{
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
  background-color: #DB2777;
  padding: 1rem;
  width: 50%;
  border-radius: 35px;
  border: 0px;
  margin-left: 30px;
  margin-top: 15px;
  
}
.right {
  background-color: #ec4899;
  border-radius: 20px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  height: 840px;
  padding-top: 130px;
}
.Paul{
  margin-top: auto;
  margin-left: 210px;
  margin-bottom: 100px;
}
.Paul1 {
  color: #f285d0;
  font-size: 16px;
  margin-top: auto;
  margin-left: 190px;
  margin-bottom: 100px;
}
.box5 {
  background-color: #111827;
  border-radius: 20px;
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
.box22 {
  float: left;
  width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: 20px;
}
.style3 {
  font-size: 18px;
  color: #ffffff;
}
.style4 {
  color: #de4899;
}
.style6 {
  font-size: 18px;
  color: #ec4899;
}
.style7 {
  font-size: 24px;
  color: #6b7280;
}
.style8 {
  font-size: 46px;
  color: #ffffff;
  font-weight: bold;
}
.box411 {
  height: 80px;
  width: 370px;
  text-align: center;
  line-height: 0%;
}
#CAT {
  margin-top: 75px;
  margin-left: 30px;
  color: #ffffff;
  font-size: 18px;
}
.after {
  color: #de4899;
}
.copyright{
  text-align: center;
  padding-top: 25px;
  color: #5F7280;
  font-size: 16px;
}
.finalCat{
  color: #ffffff;
}
.fa-brands{
  margin-right: 20px;
  font-size: 1.5rem;
}
.icons{
  margin-right: 20px;
  margin-left: auto;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-end center;
  
}
