* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
.main {
  background-color: #1f2937;
  min-height: 100%;
  width: 100%;
  padding: 24px 34.5px;
}
.nav {
  background-color: #111827;
  border-radius: 40px;
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
}
.content {
  background-color: #111827;
  border-radius: 20px;
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 24px 0px;
}
.container {
  height: 450px;
  width: 50%;
  padding: 32px;
}
.img {
  border-radius: 20px;
  padding: 32px;
}
.img img {
  height: 380px;
  width: 560px;
  border-radius: 20px;
}
.info {
  background-color: #111827;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 24px 0px;
  height: auto;
  padding: 32px;

  margin: auto;
}
.left {
  display: flex;
  flex-direction: column;
  margin: 0px 52px;
  padding: 128px 0px;
  justify-content: center;
  align-items: center;
}
.join h3 {
  font-size: 30px;
  font-weight: 900;
  color: #ffffff;
}
.join p {
  color: #6b7280;
  font-family: system-ui, sans-serif;
  line-height: 22.4px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(107, 114, 128);
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 32px;
}
.element {
  padding: 0.75rem 1.5rem;
  width: 100%;
}
.element input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
  background-color: #1f2937;
  padding: 1.5rem;
  border: 1px solid #6b7280;
  border-radius: 35px;
}
.element label {
  color: #6b7280;
}

.right {
  background-color: #ec4899;
  border-radius: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  height: 840px;
}
.Paul {
  color: #f285d0;
  font-size: 16px;
}
.box5 {
  background-color: #111827;
  border-radius: 20px;
  height: 200px;
  width: 100%;
}
.box22 {
  float: left;
  height: 15px;
  width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: 15px;
}
.style3 {
  font-size: 18px;
  color: #ffffff;
}
.style4 {
  color: #de4899;
}

.style5 {
  font-size: xx-large;
}
.style6 {
  font-size: 18px;
  color: #ec4899;
}
.style7 {
  font-size: 24px;
  color: #6b7280;
}
.style8 {
  font-size: 46px;
  color: #ffffff;
  font-weight: bold;
}
.box411 {
  height: 80px;
  width: 370px;
  text-align: center;
  line-height: 0%;
}
#CAT {
  margin-top: 50px;
  color: #ffffff;
  font-size: 18px;
}
.after {
  color: #de4899;
}
